<!DOCTYPE html>
<html lang="en">
<head>
    <title>Connect SQLServer From Django</title>
</head>
<body>
    <center>
        <h1>Selamun aleyküm</h1>
        <hr>
        <form method="POST">
            {% csrf_token %}
            <table border ="1">
                <!-- <tr>
                    <th>Baho lalesi</th>
                    <th>Zeynep eziği</th>
                    <th>Mert Virüsü</th>
                </tr>
                {% for datadisplay in sqlserverconn%}
                <tr>
                <td>{{datadisplay.CarId}}</td>
                <td>{{datadisplay.CarType}}</td>
                <td>{{datadisplay.CarModel}}</td>
                </tr>
                {% endfor %} -->

                <tr>
                    <td>Customer Id</td>
                    <td><input type="number" placeholder="Customer ID..." name ="CustomerId"></td>
                </tr>
                <tr>
                    <td>Customer Name</td>
                    <td><input type="text" placeholder="Customer Name..." name ="CustomerName"></td>
                </tr>
                <tr>
                    <td>Customer Surname</td>
                    <td><input type="text" placeholder="Customer Surname..." name ="CustomerSurname"></td>
                </tr>
                <tr>
                    <td>Mail</td>
                    <td><input type="email" placeholder="Mail..." name ="Mail"></td>
                </tr>
                <tr>
                    <td>Phone Number</td>
                    <td><input type="text" placeholder="Phone Number..." name ="PhoneNumber"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td><input type="text" placeholder="City..." name ="city"></td>
                </tr>
                <tr>
                    <td>State</td>
                    <td><input type="text" placeholder="State..." name ="state"></td>
                </tr>
                <tr>
                    <td>HES Code</td>
                    <td><input type="text" placeholder="HES Code..." name ="HESCode"></td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td><input type="text" placeholder="Gender(F or M)" name ="Gender"></td>
                </tr>
                <tr>
                    <td>Birth Date</td>
                    <td><input type="date" placeholder="Birth Date..." name ="BirthDate"></td>
                </tr>
            </table>
        
            <hr>
            <input type="submit" value="Insert/" onclick="return alert('Customer is added succesfully.')">
        </form>
    </center>
    
</body>
</html>