<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>STH Travel - Services</title>
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700&amp;#x7c;Trirong:200,200i,300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;#x7c" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

  </head>

  <body>
      <main>
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>

            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-4 h-100 mb-4"><a href="pages/single-post.html"> <img class="img-fluid rounded-top" src="assets/img/blogs/1.jpg" alt="" /></a>
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1">Flight</h5>
                    <p>Landing pages are the essential part of an online marketing campaign. A landing page is a page where a visitor comes to a ...</p><a class="text-dark font-weight-semi-bold" href="pages/single-post.html">Read more<span class="fas fa-angle-right ml-1 text-900" data-fa-transform="down-2"></span></a>
                    <hr />
                    <div class="row justify-content-between align-items-center">
                      <div class="col pr-0">
                        <div class="media"><a href="#!"><img class="rounded-circle" src="assets/img/team/1.jpg" width="40" alt="" /></a>
                          <div class="media-body ml-2">
                            <h6 class="mb-0 font-weight-semi-bold ls-0"><a class="text-dark" href="#!">Kit Harington</a></h6>
                            <p class="mb-0">6 Feb, 2019</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto text-right pl-0"><a class="mb-0 d-flex align-items-center d-block text-800" href="#!"><span class="mr-2">86</span><img src="assets/img/line-icons/comment-inactive.svg" width="15" alt="" /></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 h-100 mb-4"><a href="pages/single-post.html"> <img class="img-fluid rounded-top" src="assets/img/blogs/2.jpg" alt="" /></a>
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1">Hotel</h5>
                    <p>Burgas was the first city in Bulgaria funded by the European Union on the program called “Regional development 2019 ...</p><a class="text-dark font-weight-semi-bold" href="pages/single-post.html">Read more<span class="fas fa-angle-right ml-1 text-900" data-fa-transform="down-2"></span></a>
                    <hr />
                    <div class="row justify-content-between align-items-center">
                      <div class="col pr-0">
                        <div class="media"><a href="#!"><img class="rounded-circle" src="assets/img/team/2.jpg" width="40" alt="" /></a>
                          <div class="media-body ml-2">
                            <h6 class="mb-0 font-weight-semi-bold ls-0"><a class="text-dark" href="#!">Emilla Clarke</a></h6>
                            <p class="mb-0">4 Feb, 2019</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto text-right pl-0"><a class="mb-0 d-flex align-items-center d-block text-800" href="#!"><span class="mr-2">45</span><img src="assets/img/line-icons/comment-inactive.svg" width="15" alt="" /></a></div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 h-100 mb-4"><a href="pages/single-post.html"> <img class="img-fluid rounded-top" src="assets/img/blogs/3.jpg" alt="" /></a>
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1">Car</h5>
                    <p>Maybe I should introduce myself first to give my words that bit of credibility a self-published article on the internet can have ...</p><a class="text-dark font-weight-semi-bold" href="pages/single-post.html">Read more<span class="fas fa-angle-right ml-1 text-900" data-fa-transform="down-2"></span></a>
                    <hr />
                    <div class="row justify-content-between align-items-center">
                      <div class="col pr-0">
                        <div class="media"><a href="#!"><img class="rounded-circle" src="assets/img/team/7.jpg" width="40" alt="" /></a>
                          <div class="media-body ml-2">
                            <h6 class="mb-0 font-weight-semi-bold ls-0"><a class="text-dark" href="#!">Alfie Allen</a></h6>
                            <p class="mb-0">1 Feb, 2019</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-auto text-right pl-0"><a class="mb-0 d-flex align-items-center d-block text-800" href="#!"><span class="mr-2">73</span><img src="assets/img/line-icons/comment-inactive.svg" width="15" alt="" /></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- ============================================-->
        <!-- <section> closes============================-->
      </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/@fortawesome/all.min.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/js/theme.js"></script>
  </body>
</html>