<!DOCTYPE html>
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>STH Travel - Services</title>
    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,700&amp;#x7c;Trirong:200,200i,300,300i,400,400i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;#x7c" rel="stylesheet">
    <link href="assets/css/theme.css" rel="stylesheet">

  </head>

  <body>
      <main>
        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section>

            <div class="container">
              <div class="row">
                <div class="col-md-6 col-lg-4 h-100 mb-4"> <img class="img-fluid rounded-top" src="assets/img/headers/flight.jpeg" alt="" />
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1"><a href="Flight.html">Flight</a></h5>
                    <p>Please Click 'Flight' to see arranged all flights</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 h-100 mb-4"> <img class="img-fluid rounded-top" src="assets/img/headers/hotel.jpg" alt="" />
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1"><a href="Hotel.html">Hotel</a></h5>
                    <p>Please Click 'Hotel' to see booked all hotels</p>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 h-100 mb-4"> <img class="img-fluid rounded-top" src="assets/img/headers/car.jpg" alt="" />
                  <div class="p-3 border rounded-bottom border-top-0">
                    <h5 class="text-base text-transform-none font-weight-medium lh-1"><a href="Car.html">Car</a></h5>
                    <p>Please Click 'Car' to see rented all cars</p>
                  </div>
                </div>
              </div>
            </div>
        </section>
        <!-- ============================================-->
        <!-- <section> closes============================-->
      </main>
    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/stickyfill.min.js"></script>
    <script src="assets/lib/@fortawesome/all.min.js"></script>
    <script src="assets/js/rellax.min.js"></script>
    <script src="assets/js/theme.js"></script>
  </body>
</html>